
nav{
    background-color: lightcoral;
    padding-top: 2px;
    padding-left: 10px;
    align-content:center ;

}
nav a{
    text-decoration: none;
    color: black;

}
.img{
    width: 100%;
}
.image{
    height: 100px;
    width: 100px;
}
.box{
    background-color: blue;
    width:200px;
    height:200px;
    color:white;
    text-align: center;

}